Documentos/sPosicao_401.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- XSD para validação do Layout de Posição de Fundos e Carteira versão 4.01-->
<!--Alteração realizada em 14/11/2011 referente ao novo tipo de conta - Judicial -->
<!--Alteração realizada em 12/08/2013 referente ao tamanho do campo: numope_type, pu_type, pu_type2 e lista de despesas -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="arquivoposicao_4_01" type="ArquivoPosicao_4_01_type"/>
	<xs:complexType name="ArquivoPosicao_4_01_type">
		<xs:sequence>
			<xs:element name="fundo" type="Fundo_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="carteira" type="Carteira_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Carteira_type">
		<xs:sequence>
			<xs:element name="header" type="header_carteira_type"/>
			<xs:element name="partplanprev" type="partplanprev_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="titpublico" type="titpublico_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="titprivado" type="titprivado_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="debenture" type="debenture_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="acoes" type="acoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesacoes" type="opcoesacoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesderiv" type="opcoesderiv_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesflx" type="opcoesflx_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="termorv" type="termorv_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="termorf" type="termorf_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="futuros" type="futuros_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="swap" type="swap_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="caixa" type="caixa_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cotas" type="cotas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="despesas" type="despesas_type" minOccurs="0"/>
			<xs:element name="outrasdespesas" type="outrasdespesas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="provisao" type="provisao_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="corretagem" type="corretagem_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="imoveis" type="imovel_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesmoedasotc" type="opcoesmoedasotcl_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="forwardsmoedas" type="forwardsmoedas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participacoes" type="participacoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fidc" type="fidc_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Fundo_type">
		<xs:sequence>
			<xs:element name="header" type="header_fundo_type"/>
			<xs:element name="partplanprev" type="partplanprev_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="titpublico" type="titpublico_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="titprivado" type="titprivado_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="debenture" type="debenture_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="acoes" type="acoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesacoes" type="opcoesacoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesderiv" type="opcoesderiv_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesflx" type="opcoesflx_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="termorv" type="termorv_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="termorf" type="termorf_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="futuros" type="futuros_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="swap" type="swap_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="caixa" type="caixa_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cotas" type="cotas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="despesas" type="despesas_type" minOccurs="0"/>
			<xs:element name="outrasdespesas" type="outrasdespesas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="provisao" type="provisao_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="corretagem" type="corretagem_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="imoveis" type="imovel_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="opcoesmoedasotc" type="opcoesmoedasotcl_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="forwardsmoedas" type="forwardsmoedas_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participacoes" type="participacoes_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="fidc" type="fidc_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="header_fundo_type">
		<xs:sequence>
			<xs:element name="isin" type="isinlongo_type"/>
			<xs:element name="cnpj" type="cnpj_type"/>
			<xs:element name="nome" type="nome_type"/>
			<xs:element name="dtposicao" type="dt_type"/>
			<xs:element name="nomeadm" type="nome_type" minOccurs="0"/>
			<xs:element name="cnpjadm" type="cnpj_type"/>
			<xs:element name="nomegestor" type="nome_type" minOccurs="0"/>
			<xs:element name="cnpjgestor" type="cnpj_type"/>
			<xs:element name="nomecustodiante" type="nome_type" minOccurs="0"/>
			<xs:element name="cnpjcustodiante" type="cnpj_type"/>
			<xs:element name="valorcota" type="valorcota_type"/>
			<xs:element name="quantidade" type="qt_type"/>
			<xs:element name="patliq" type="valor_type"/>
			<xs:element name="valorativos" type="valor_type"/>
			<xs:element name="valorreceber" type="valor_type"/>
			<xs:element name="valorpagar" type="valor_type"/>
			<xs:element name="vlcotasemitir" type="valor_type"/>
			<xs:element name="vlcotasresgatar" type="valor_type"/>
			<xs:element name="codanbid" type="codanbid_type" minOccurs="0"/>
			<xs:element name="tipofundo" type="tipofundo_type"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="header_carteira_type">
		<xs:sequence>
			<xs:element name="cnpjcpf" type="cnpjcpf_type"/>
			<xs:element name="codcart" type="codcart_type"/>
			<xs:element name="dtposicao" type="dt_type"/>
			<xs:element name="nome" type="nome_type"/>
			<xs:element name="tpcli" type="tpcli_type"/>
			<xs:element name="codcntcor" type="codcntcor_type"/>
			<xs:element name="nomegestor" type="nome_type" minOccurs="0"/>
			<xs:element name="cnpjgestor" type="cnpj_type"/>
			<xs:element name="nomecustodiante" type="nome_type" minOccurs="0"/>
			<xs:element name="cnpjcustodiante" type="cnpj_type"/>
			<xs:element name="patliq" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="valorativos" type="valor_type"/>
			<xs:element name="valorreceber" type="valor_type"/>
			<xs:element name="valorpagar" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partplanprev_type">
		<xs:sequence>
			<xs:element name="cnpb" type="cnpb_type"/>
			<xs:element name="percpart" type="perc_38_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="titpublico_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="codativo" type="codativo_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="dtemissao" type="dt_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="qtgarantia" type="qt_type"/>
			<xs:element name="depgar" type="depgar_type" minOccurs="0"/>
			<xs:element name="pucompra" type="pu_type"/>
			<xs:element name="puvencimento" type="pu_type" minOccurs="0"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="puemissao" type="pu_type" minOccurs="0"/>
			<xs:element name="principal" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="valorfindisp" type="valor_type"/>
			<xs:element name="valorfinemgar" type="valor_type"/>
			<xs:element name="coupom" type="coupom_type"/>
			<xs:element name="indexador" type="indexador_type"/>
			<xs:element name="percindex" type="percindex_type"/>
			<xs:element name="caracteristica" type="caracteristica_type"/>
			<xs:element name="percprovcred" type="percprovcred_type" minOccurs="0"/>
			<xs:element name="compromisso" type="compromisso_type" minOccurs="0"/>
			<xs:element name="classeoperacao" type="classeCDTV_type"/>
			<xs:element name="idinternoativo" type="idinternoativo_type" minOccurs="0"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
			<xs:element name="aluguel" type="aluguel_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="titprivado_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="codativo" type="codativo_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="dtemissao" type="dt_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="cnpjemissor" type="cnpj_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="qtgarantia" type="qt_type"/>
			<xs:element name="depgar" type="depgar_type" minOccurs="0"/>
			<xs:element name="pucompra" type="pu2_type"/>
			<xs:element name="puvencimento" type="pu2_type"/>
			<xs:element name="puposicao" type="pu2_type"/>
			<xs:element name="puemissao" type="pu2_type"/>
			<xs:element name="principal" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="valorfindisp" type="valor_type"/>
			<xs:element name="valorfinemgar" type="valor_type"/>
			<xs:element name="coupom" type="coupom_type"/>
			<xs:element name="indexador" type="indexador_type"/>
			<xs:element name="percindex" type="percindex_type"/>
			<xs:element name="caracteristica" type="caracteristica_type"/>
			<xs:element name="percprovcred" type="percprovcred_type" minOccurs="0"/>
			<xs:element name="compromisso" type="compromisso_type" minOccurs="0"/>
			<xs:element name="classeoperacao" type="classeCDTV_type"/>
			<xs:element name="idinternoativo" type="idinternoativo_type" minOccurs="0"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
			<xs:element name="aluguel" type="aluguel_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="debenture_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="coddeb" type="coddeb_type"/>
			<xs:element name="debconv" type="sn_type"/>
			<xs:element name="debpartlucro" type="sn_type"/>
			<xs:element name="SPE" type="sn_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="dtemissao" type="dt_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_zero_type"/>
			<xs:element name="cnpjemissor" type="cnpj_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="qtgarantia" type="qt_type"/>
			<xs:element name="depgar" type="depgar_type" minOccurs="0"/>
			<xs:element name="pucompra" type="pu_type"/>
			<xs:element name="puvencimento" type="pu_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="puemissao" type="pu_type"/>
			<xs:element name="principal" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="valorfindisp" type="valor_type"/>
			<xs:element name="valorfinemgar" type="valor_type"/>
			<xs:element name="coupom" type="coupom_type"/>
			<xs:element name="indexador" type="indexador_type"/>
			<xs:element name="percindex" type="percindex_type"/>
			<xs:element name="caracteristica" type="caracteristica_type"/>
			<xs:element name="percprovcred" type="percprovcred_type" minOccurs="0"/>
			<xs:element name="compromisso" type="compromisso_type" minOccurs="0"/>
			<xs:element name="classeoperacao" type="classeCDTV_type"/>
			<xs:element name="idinternoativo" type="idinternoativo_type" minOccurs="0"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
			<xs:element name="aluguel" type="aluguel_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acoes_type">
		<xs:sequence>
			<xs:element name="isin" type="isinlongo_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="codativo" type="str20_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="lote" type="lote_type"/>
			<xs:element name="qtgarantia" type="qt_type"/>
			<xs:element name="valorfindisp" type="valor_type"/>
			<xs:element name="valorfinemgar" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="percprovcred" type="percprovcred_type"/>
			<xs:element name="tpconta" type="tpconta_type"/>
			<xs:element name="classeoperacao" type="classeCDTV_type"/>
			<xs:element name="dtvencalug" type="dt_Null_type" minOccurs="0"/>
			<xs:element name="txalug" type="perc_32_type" minOccurs="0"/>
			<xs:element name="cnpjinter" type="cnpj_null_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opcoesacoes_type">
		<xs:sequence>
			<xs:element name="isin" type="isinlongo_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="codativo" type="str20_type"/>
			<xs:element name="ativobase" type="str20_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="precoexercicio" type="pu_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="premio" type="valor_type"/>
			<xs:element name="percprovcred" type="percprovcred_type" minOccurs="0"/>
			<xs:element name="tpconta" type="tpconta_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opcoesderiv_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="mercado" type="mercado_type"/>
			<xs:element name="ativo" type="str4_type"/>
			<xs:element name="serie" type="str4fixed_type"/>
			<xs:element name="callput" type="callput_type"/>
			<xs:element name="quantidade" type="qt_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="precoexercicio" type="pu_type"/>
			<xs:element name="premio" type="valor_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opcoesflx_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="tipo" type="tipoopcao_type"/>
			<xs:element name="callput" type="callput_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtexercicio" type="dt_type"/>
			<xs:element name="ativo" type="str8_type"/>
			<xs:element name="garantia" type="sn_type"/>
			<xs:element name="premio" type="valor_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="quantidade" type="qt16v9_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="precoexercicio" type="pu_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="termorv_type">
		<xs:sequence>
			<xs:element name="isin" type="isinlongo_type"/>
			<xs:element name="cusip" type="cusip_type" minOccurs="0"/>
			<xs:element name="ativo" type="str8_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="garantia" type="sn_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="quantidade" type="qt16v9_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="puvenc" type="pu_type"/>
			<xs:element name="tpconta" type="tpconta_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="termorf_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="dtvencativo" type="dt_type"/>
			<xs:element name="dtoper" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="qtd" type="qt16v9_type"/>
			<xs:element name="puoperacao" type="pu2_type"/>
			<xs:element name="puvencimento" type="pu2_type"/>
			<xs:element name="puposicao" type="pu2_type"/>
			<xs:element name="puemissao" type="pu2_type"/>
			<xs:element name="principal" type="valor_type"/>
			<xs:element name="valorfin" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="coupom" type="coupom_type"/>
			<xs:element name="indexador" type="indexador_type"/>
			<xs:element name="percindex" type="percindex_type"/>
			<xs:element name="caracteristica" type="caracteristica_type"/>
			<xs:element name="classeoperacao" type="classeCVA_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
			<xs:element name="idinternoativo" type="idinternoativo_type" minOccurs="0"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="futuros_type">
		<xs:sequence>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="ativo" type="str6_type"/>
			<xs:element name="cnpjcorretora" type="cnpj_type"/>
			<xs:element name="serie" type="str4_type"/>
			<xs:element name="quantidade" type="qt_type"/>
			<xs:element name="vltotalpos" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="vlajuste" type="pu_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swap_type">
		<xs:sequence>
			<xs:element name="cetipbmf" type="cetipbmf_type"/>
			<xs:element name="isin" type="isincurto_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtregistro" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="cnpjcontraparte" type="cnpj_type"/>
			<xs:element name="garantia" type="garantia_type"/>
			<xs:element name="vlnotional" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="vlmercadoativo" type="valor_type"/>
			<xs:element name="taxaativo" type="taxaswap_type"/>
			<xs:element name="indexadorativo" type="str8_type"/>
			<xs:element name="percindexativo" type="percindex_type"/>
			<xs:element name="vlmercadopassivo" type="valor_type"/>
			<xs:element name="taxapassivo" type="taxaswap_type"/>
			<xs:element name="indexadorpassivo" type="str8_type"/>
			<xs:element name="percindexpassivo" type="percindex_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
			<xs:element name="idinternoativo" type="idinternoativo_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="caixa_type">
		<xs:sequence>
			<xs:element name="isininstituicao" type="isin6_type" minOccurs="0"/>
			<xs:element name="tpconta" type="tpcontacc_type"/>
			<xs:element name="saldo" type="valor_type"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cotas_type">
		<xs:sequence>
			<xs:element name="isin" type="isinlongo_type"/>
			<xs:element name="cnpjfundo" type="cnpj_type"/>
			<xs:element name="qtdisponivel" type="qt_type"/>
			<xs:element name="qtgarantia" type="qt_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="nivelrsc" type="nivelrsc_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="despesas_type">
		<xs:sequence>
			<xs:element name="txadm" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="perctaxaadm" type="perc_type"/>
			<xs:element name="txperf" type="sn_type"/>
			<xs:element name="vltxperf" type="valor_type" minOccurs="0"/>
			<xs:element name="perctxperf" type="perc_type" minOccurs="0"/>
			<xs:element name="percindex" type="perc_type" minOccurs="0"/>
			<xs:element name="outtax" type="valor_type" minOccurs="0"/>
			<xs:element name="indexador" type="indexador_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="outrasdespesas_type">
		<xs:sequence>
			<xs:element name="coddesp" type="coddesp_type"/>
			<xs:element name="valor" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="provisao_type">
		<xs:sequence>
			<xs:element name="codprov" type="coddesp_type"/>
			<xs:element name="credeb" type="credeb_type"/>
			<xs:element name="dt" type="dt_zero_type"/>
			<xs:element name="valor" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="corretagem_type">
		<xs:sequence>
			<xs:element name="cnpjcorretora" type="cnpj_type" minOccurs="0"/>
			<xs:element name="tpcorretora" type="tpcorretora_type" minOccurs="0"/>
			<xs:element name="numope" type="numope_type" minOccurs="0"/>
			<xs:element name="vlbov" type="valor_type"/>
			<xs:element name="vlrepassebov" type="valor_type"/>
			<xs:element name="vlbmf" type="valor_type"/>
			<xs:element name="vlrepassebmf" type="valor_type"/>
			<xs:element name="vloutbolsas" type="valor_type"/>
			<xs:element name="vlrepasseoutbol" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="imovel_type">
		<xs:sequence>
			<xs:element name="logradouro" type="str50_type"/>
			<xs:element name="numero" type="str10_type"/>
			<xs:element name="complemento" type="str30_type" minOccurs="0"/>
			<xs:element name="cidade" type="cidade_type"/>
			<xs:element name="estado" type="estado_type"/>
			<xs:element name="cep" type="cep_type"/>
			<xs:element name="nomecomercial" type="str50_type" minOccurs="0"/>
			<xs:element name="percpart" type="percpart_type"/>
			<xs:element name="valorcontabil" type="valor_type"/>
			<xs:element name="justificativa" type="justificativa_type" minOccurs="0"/>
			<xs:element name="valoravaliacao" type="valor_type" minOccurs="0"/>
			<xs:element name="dtavaliacao" type="dt_Null_type" minOccurs="0"/>
			<xs:element name="tpavaliador" type="tpcli_type" minOccurs="0"/>
			<xs:element name="cnpjcpfavaliador" type="cnpjcpf_type" minOccurs="0"/>
			<xs:element name="aluguelcontratado" type="valor_type" minOccurs="0"/>
			<xs:element name="aluguelatrasado" type="valor_type" minOccurs="0"/>
			<xs:element name="opcaorecompra" type="sn_type"/>
			<xs:element name="dtopcaorecompra" type="dt_Null_type" minOccurs="0"/>
			<xs:element name="tipoimovel" type="tipoimovel_type"/>
			<xs:element name="questjur" type="sn_type"/>
			<xs:element name="motivoquestjur" type="str50_type" minOccurs="0"/>
			<xs:element name="tipouso" type="tipouso_type"/>
			<xs:element name="matricula" type="matricula_type" minOccurs="0"/>
			<xs:element name="cnpjemp" type="cnpjcpfimoveis_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opcoesmoedasotcl_type">
		<xs:sequence>
			<xs:element name="codoper" type="codoper_type"/>
			<xs:element name="tipo" type="tipoopcao_type"/>
			<xs:element name="callput" type="callput_type"/>
			<xs:element name="dtoperacao" type="dt_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="dtexercicio" type="dt_type"/>
			<xs:element name="moedaativa" type="moeda_type"/>
			<xs:element name="moedapassiva" type="moeda_type"/>
			<xs:element name="garantia" type="sn_type"/>
			<xs:element name="premio" type="valor_type"/>
			<xs:element name="puposicao" type="pu_type"/>
			<xs:element name="quantidade" type="qt16v9_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="precoexercicio" type="pu_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="forwardsmoedas_type">
		<xs:sequence>
			<xs:element name="tipooperacao" type="tipooperacao_type"/>
			<xs:element name="moedaativa" type="moeda_type"/>
			<xs:element name="moedapassiva" type="moeda_type"/>
			<xs:element name="notional" type="valor_type"/>
			<xs:element name="taxa" type="taxa_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
			<xs:element name="tributos" type="valor_type"/>
			<xs:element name="dtvencimento" type="dt_type"/>
			<xs:element name="classeoperacao" type="classeCV_type"/>
			<xs:element name="hedge" type="sn_type"/>
			<xs:element name="tphedge" type="tphedge_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="participacoes_type">
		<xs:sequence>
			<xs:element name="cnpjpart" type="cnpj_type"/>
			<xs:element name="valorfinanceiro" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fidc_type">
		<xs:sequence>
			<xs:element name="valorfinanceiro" type="valor_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="compromisso_type">
		<xs:sequence>
			<xs:element name="dtretorno" type="dt_Null_type"/>
			<xs:element name="puretorno" type="pu2_type"/>
			<xs:element name="indexadorcomp" type="indexador_type"/>
			<xs:element name="perindexcomp" type="percindex_type"/>
			<xs:element name="txoperacao" type="txoperacao_type"/>
			<xs:element name="classecomp" type="classeCV_type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aluguel_type">
		<xs:sequence>
			<xs:element name="dtvencalug" type="dt_Null_type" minOccurs="0"/>
			<xs:element name="txalug" type="perc_32_type" minOccurs="0"/>
			<xs:element name="indexadoralug" type="indexador_type" minOccurs="0"/>
			<xs:element name="percalug" type="perc_32_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="callput_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="credeb_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="caracteristica_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cep_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cidade_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lote_type">
		<xs:restriction base="xs:int">
			<xs:totalDigits value="6"/>
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cetipbmf_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="O"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos Classe -->
	<xs:simpleType name="classeCV_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="classeCVA_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="classeCDT_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="classeCDTV_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos Classe  -->
	<xs:simpleType name="tpcli_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cusip_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codcntcor_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codativo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cnpb_type">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cnpj_type">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cnpj_null_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cnpjcpfimoveis_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cnpjcpf_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codcart_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codanbid_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codtit_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tpconta_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="coupom_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxa_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos Data -->
	<xs:simpleType name="dt_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="((19|2[0-9])[0-9]{2}(01|02|03|04|05|06|07|08|09|10|11|12)(0[1-9]|[1-2][0-9]|30|31))"/>
		</xs:restriction>
		<!-- ALTERADO -->
	</xs:simpleType>
	<xs:simpleType name="dt_Null_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="((19|2[0-9])[0-9]{2}(01|02|03|04|05|06|07|08|09|10|11|12)(0[1-9]|[1-2][0-9]|30|31))?"/>
		</xs:restriction>
		<!-- ALTERADO -->
	</xs:simpleType>
	<xs:simpleType name="dt_zero_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="(00000000)|((19|2[0-9])[0-9]{2}(01|02|03|04|05|06|07|08|09|10|11|12)(0[1-9]|[1-2][0-9]|30|31))?"/>
		</xs:restriction>
		<!-- ALTERADO -->
	</xs:simpleType>
	<!-- Tipos Data -->
	<xs:simpleType name="estado_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="garantia_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idinternoativo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="isin6_type">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="isincurto_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="isinlongo_type">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mercado_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nome_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numope_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="justificativa_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perc_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="11"/>
			<xs:fractionDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perc_32_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="perc_38_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="11"/>
			<xs:fractionDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percindex_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percprovcred_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percpart_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pu_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pu2_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="21"/>
			<xs:fractionDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qt_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="21"/>
			<xs:fractionDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qt16v9_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="25"/>
			<xs:fractionDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sn_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="coddeb_type">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos Strings  -->
	<xs:simpleType name="str4fixed_type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str4_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str6_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str8_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str10_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str20_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str30_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="str50_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipos Strings -->
	<xs:simpleType name="indexador_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxaswap_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoopcao_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipooperacao_type">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="FRW"/>
			<xs:enumeration value="NDF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipofundo_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipouso_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tpcontacc_type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="I"/>
		    <xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nivelrsc_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="AA"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoimovel_type">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moeda_type">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tpcorretora_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tphedge_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="txadic_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="11"/>
			<xs:fractionDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="txoperacao_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="valor_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="valorcota_type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="coddesp_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="depgar_type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codoper_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="matricula_type">
		<xs:restriction base="xs:long">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
